:root {

    /* -------------------------COLORS------------------------ */

    --primary-color: #8DC63F;
    --font-color: #ffff;
    --dark-color: #000;
    --light-dark: #d9d4d4;
    --button-color: #FFBD1A;

    /* -------------------------PADDINGS------------------------ */

    --small-padding: 0.5em;
    --very-small-padding: 0.3em;
    --large-padding: 2.5em;

    /* ------------------------MARGINS------------------------ */

    --small-margin: 0.5em;
    --large-margin: 2.5em;

    /* ------------------------FONT-SIZES------------------------ */

    --font-size: 1rem;
    --very-large-font-size: 2.5rem;
    --large-font-size: 1.45rem;
    --small-font-size: 0.5rem;

}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(45, 129, 174); */
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ---------------------------HEADER------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-padding) var(--large-padding);
    background-color: var(--dark-color);
}

/* ---------------------------HEADER-LEFT------------------------- */

.left {
    display: flex;
    gap: 1rem;
}

.left i {
    font-size: var(--font-size);
    color: var(--light-dark);
    background-color: rgb(37, 36, 36);
    padding: var(--small-padding);
    border-radius: 50%;
    flex-grow: 1;
}

/* ---------------------------HEADER-RIGHT------------------------- */

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.right span {
    display: flex;
    align-items: center;
    gap: 0.1em;
    color: var(--font-color);
}

.right span i {
    padding: var(--small-padding);
    color: var(--primary-color);
}

.right span button {
    padding: var(--small-padding) calc(var(--large-padding) - 1.3em);
    border-radius: 0.3em;
    background-color: var(--primary-color);
    color: var(--dark-color);
    border: none;
    transition: 0.5s ease-in-out;
}

/* ---------------------------LOGO-SECTION------------------------- */


.logo-img img {
    margin: var(--small-margin) 0;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--large-padding) 0 var(--small-padding);
}

/* ---------------------------LOGO-SECTION-LIST------------------------ */

.logo-list ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.logo-list ul li {
    padding: var(--small-padding);
    font-size: var(--font-size);
}

.logo-list ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid gold;
}

/* -------------------------------------HERO-SECTION-------------------------------- */

.hero-section {
    min-height: 80vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* -------------------------------------HERO-SECTION-TITLE-------------------------------- */

.hero-title {
    font-size: calc(var(--font-size) + 1.8rem);
    color: var(--font-color);
}

/* -------------------------------------HERO-SECTION-DESCRIPTION---------------------------- */

.hero-description {
    color: var(--font-color);
    max-width: 85ch;
    text-align: center;
}

/* -------------------------------------HERO-SECTION-BUTTON------------------------------- */

.hero-button button {
    font-size: var(--font-size);
    border: none;
    border-radius: 0.2rem;
    padding: var(--small-padding) var(--large-padding);
    background-color: var(--button-color);
    border-bottom: 2px solid #FF8F1C;
    transition: 0.5s ease-in-out;
}

.hero-button button:hover {
    filter: brightness(105%);
    cursor: pointer;
}

/* -------------------------------------ADVANTAGES-SECTION-------------------------------- */

.advantage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    padding: var(--large-padding) 0;
}

.advantage-title {
    font-size: var(--very-large-font-size);
}

.advantage-title h1 span {
    color: var(--primary-color);
}

.advantage-description {
    max-width: 80ch;
    text-align: center;
}

.advantage-list {
    display: flex;
    align-items: center;
    margin: var(--large-margin) var(--small-margin) 0 var(--small-margin);
    gap: 2rem;
    text-align: center;
}

.adv-inner-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.adv-inner-list img {
    background-color: #F1F2F2;
    padding: var(--large-padding);
    border-radius: 50%;
}

.advantage-list h3 {
    margin: calc(var(--small-margin) + 1em) 0 0 0;
}

.advantage-list p {
    margin: var(--small-margin) 0 0 0;
    max-width: 25ch;
    color: #a8a5a5;
}

/* -------------------------------------ABOUT-SECTION-------------------------------- */

.about-section {
    min-height: 90vh;
    background-color: #F1F2F2;
    border-top: 2px solid #a8a5a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--large-padding) 0 0 0;
}

.about-lower {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    margin: var(--small-margin) 0 0 0;
}

.about-title {
    font-size: var(--very-large-font-size);
    margin: var(--small-margin) 0;
}

.about-title span {
    color: var(--primary-color);
}

.about-lower p {
    max-width: 70ch;
}

.about-description {
    text-align: justify;

}

.about-description a button {
    margin: var(--large-margin) 0 0 0;
    font-size: var(--large-font-size);
    padding: var(--small-padding) calc(var(--small-padding) + 0.9em);
    background-color: var(--button-color);
    border: none;
    border-bottom: 2px solid #FF8F1C;
    border-radius: 0.2em;
    transition: 0.5s ease-in-out;

}

.about-description a button:hover {
    filter: brightness(105%);
    cursor: pointer;
}

/* -------------------------------------SERVICES-SECTION-------------------------------- */

.service-section {
    padding: var(--large-padding) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-title {
    font-size: var(--very-large-font-size);
    padding: 0 0 var(--small-padding) 0;
}

.service-title span {
    color: var(--primary-color);
}

.service-description {
    color: #a8a5a5;
    max-width: 75ch;
}

.service-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100%;
    margin: var(--large-margin) 0 0 0;
}

.ser-inner-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #F1F2F2;
    border-radius: 0.5em;
    padding: var(--small-padding);
    transition: 0.5s ease-in-out;
}

.ser-inner-list p {
    color: #a8a5a5;
    max-width: 30ch;
}

.ser-inner-list a {
    color: var(--primary-color);
}
.ser-inner-list:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* -------------------------------------PORTFOLIO-SECTION-------------------------------- */

.portfolio-section {
    background-color: rgb(26, 26, 26);
    padding: var(--large-padding) 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.portfolio-title {
    color: snow;
    font-size: var(--very-large-font-size);
}

.portfolio-title span {
    color: var(--primary-color);
}

.portfolio-description {
    color: #d9d4d4;
    max-width: 75ch;
    text-align: center;
}

.portfolio-list ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.portfolio-list ul li {
    cursor: pointer;
    color: #d9d4d4;
    font-size: calc(var(--large-font-size) - 0.25rem);
}

.portfolio-list ul li:hover {
    color: var(--button-color);
}

.upll-pic-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upll-pic-section img {
    padding: var(--small-padding);
    border: 1px solid var(--dark-color);
    background-color: #F1F2F2;
    flex: 1;
}

/* -------------------------------------PROCESS-SECTION-------------------------------- */

.process-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: var(--large-padding) 0;
}

.process-title {
    font-size: var(--very-large-font-size);
}

.process-title span {
    color: var(--primary-color);
}

.process-description {
    color: #a8a5a5;
    max-width: 70ch;
    text-align: center;
}

.process-list {
    width: 90%;
    margin: var(--large-margin) 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.in-process-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.list-numbering {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -7%;
}

.list-numbering h2 {
    background-color: var(--button-color);
    color: var(--dark-color);
    border-radius: 50%;
    padding: calc(var(--small-padding) - 0.3em) var(--small-padding);

}

.in-process-list p {
    max-width: 20ch;
    font-size: calc(var(--font-size) - 0.2rem);
    color: #a8a5a5;
}

.picture-circle {
    border: 2px solid var(--light-dark);
    border-radius: 50%;
    padding: var(--large-padding);
}

/* -------------------------------------PEOPLE-SECTION-------------------------------- */

.people-section {
    background-color: #F1F2F2;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 2px solid #a8a5a5;
}

.people-title {
    font-size: var(--very-large-font-size);
}

.people-title span {
    color: var(--primary-color);
}

.people-description {
    max-width: 75ch;
    text-align: center;
    color: #a8a5a5;
}

.people-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--small-margin) 0 0 0;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.up-review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: var(--large-padding);
}

.up-review .icon img {
    background-color: snow;
    padding: var(--small-padding);
    border-radius: 50%;
}

.up-review .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.up-review .title p {
    max-width: 45ch;
    text-align: left;
}

/* -------------------------------------SKILL-SECTION-------------------------------- */

.skill-section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--large-padding) 0;
}

.skill-title {
    font-size: var(--very-large-font-size);
}

.skill-title span {
    color: var(--primary-color);
}

.skill-description {
    max-width: 75ch;
    text-align: center;
    color: #a8a5a5;

}

.skill-circle {
    margin: var(--large-margin) 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.arc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.one h1 {
    padding: var(--large-padding);
    border-radius: 50%;
    border: 6px solid yellow;
}

.two h1 {
    padding: var(--large-padding);
    border-radius: 50%;
    border: 6px solid red;
}

.three h1 {
    padding: var(--large-padding);
    border-radius: 50%;
    border: 6px solid greenyellow;
}

.four h1 {
    padding: var(--large-padding);
    border-radius: 50%;
    border: 6px solid black;
}

/* -------------------------------------MESSAGE-SECTION-------------------------------- */
.message-section {
    background-color: var(--primary-color);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: var(--small-padding) 0;
}

.message-title {
    color: snow;
    font-size: var(--very-large-font-size);
}

.message-input form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.message-input form input {
    padding: var(--small-padding) var(--large-padding) var(--small-padding) 0.5rem;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

.message-input form button {
    padding: var(--small-padding) 5em;
    border-radius: 0.3em;
    border: none;
    border-bottom: 2px solid #FF8F1C;
    background-color: #FFBD1A;
    transition: 0.5s ease-in-out;

}

.message-description {
    max-width: 75ch;
    text-align: center;
    color: #F1F2F2;
}

/* -------------------------------------CONTACT-SECTION-------------------------------- */

.contact-section {
    min-height: 40vh;
    padding: var(--small-padding) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact-title {
    font-size: var(--very-large-font-size);
}

.contact-title span {
    color: var(--primary-color);
}

.contact-description {
    max-width: 70ch;
    text-align: center;
    color: #a8a5a5;
}

.contact {
    padding: var(--small-padding) 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.con-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.loc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.loc i{
    color: var(--primary-color);
    font-size: var(--large-font-size);
}

.icon-num {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.icon-num i {
    color: var(--primary-color);
    font-size: var(--large-font-size);
}

/* -------------------------------------MAP-SECTION-------------------------------- */

.map-section{
    margin: var(--small-margin) 0 0 0;
    outline-offset: 0;
}

/* -------------------------------------FOOTER-SECTION-------------------------------- */

footer{
    color: #F1F2F2;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #668E19;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}
.logo p{
    max-width: 30ch;
}
.ser-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.con-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.social-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.social-icon i{
    background-color: #303030;
    padding: var(--small-padding);
    font-size: var(--font-color);
    border-radius: 50%;
    color: #668E19;
}